:root {
  --offcanvas-widt: 200px;
  --offcanvas-bgColor: #0f205e;
  --offcanvas-bgColor: #0f205e;
  --offcanvas-footer-bgColor: #3d4a7a;
}

a {
  text-decoration: none;
}

.navbar {
  margin-left: 0px;
  margin: 0px 10px;
}

.search {
  position: relative;
}

.search-ion {
  position: absolute;
  padding: 10px;
}

.nav-icon {
  font-size: 20px;
}


/* sidebar */
.sidebar-nav {
  width: var(--offcanvas-widt) !important;
  background: var(--offcanvas-bgColor);
}

.list-group-item {
  border-radius: 0;
  background: transparent;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  opacity: 0.9;
  color: aliceblue;
}

.list-group-item:hover,
.list-group-item.active {
  background: blue;
  opacity: 1;
  border-radius: 10px;
}

i.ti {
  font-size: 22px;
}

span {
  font-weight: 500;
  text-transform: capitalize;
}

/* content */
.containt {
  margin-left: 0px;

}

.offcanvas-body a {
  color: white;
}

/* footer */
.footer {
  background: var(--offcanvas-footer-bgColor);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.footer-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer h6 {
  font-size: 15px;
}

.footer p {
  font-size: 10px;
}

.footer .footer-logo p {
  font-size: 20px;
  font-weight: 500;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

.message:hover {
  border: 1px dashed red;
}

.innerpipeline {
  list-style-type: none;
  border-bottom: 1px solid rgb(141, 141, 141);
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (min-width:992px) {
  .navbar {
    margin-left: 250px;
  }

  #offcanvas-button {
    display: none;
  }

  /* sidebar */

  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
  }

  .nav-container {
    margin-left: 100px;
  }

  /* content */
  .containt {
    margin-left: 250px;
  }

}

@media (max-width:575px) {
  .navbar-nav {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }

  .notifications h4 {
    text-align: center;
  }
}